.product-page {   
    position: relative;
    background-color: blue;
    animation-name: funny_colours;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 70px;
}
@media (prefers-color-scheme: dark) {
  .product-page {
    color: purple;
    background-color: purple;
  } 
  
}

  @keyframes funny_colours {
    from {top: 0px; background-color: red;}
    to {top: 10px;background-color: green;}
  }

  nav {
    float: left;
    width: 20%;
    background: #ccc;
    padding: 20px;
  }