.product-page {   
    position: relative;
    background-color: blue;
    animation-name: funny_colours;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

  @keyframes funny_colours {
    from {top: 0px; background-color: red;}
    to {top: 10px;background-color: green;}
  }