
.page {
  // TODO: update height
  min-height: 100vh;
  margin: 10px;
  margin-right: 4%;
  margin-left: 4%;
}

@media (prefers-color-scheme: dark) {
  .page {
    color: purple;
    background-color: purple;
  } 
}